h2{
    text-align: center;
}

h3{
    text-align: center;
}

#game{
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
}

#instructions{
    text-align: center;
}

#game-area {
    margin: auto;
    position: relative;
    width: 1000px;
    height: 600px;
    border: 2px solid rgb(0, 51, 128);
    background: url('SEA_01.jpg');
    overflow: hidden;
}

#turtle {
    position: absolute;
    background: url('Turtle_01.png');
    height: 70px;
    width: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 20%;
    left: 15%;
}

.pole {
    position: absolute;
    height: 100px;
    width: 80px;
    background-color: rgb(90, 89, 97);
    right: 0px;
}

#pole-1 {
    top: 0;
}

#pole-2 {
    bottom: 0;
}

#game-info {
    margin: 5px;
    font-size: 18px;
}

#game-info p{
    display: inline; 
    padding: 20px;
}

#restart-btn {
    padding: 5px 10px;
    background-color: rgb(0, 70, 128);
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    outline: none;
}